<a href="https://colab.research.google.com/github/GirijaKondapally/Girija_INFO5731_-Fall2023/blob/main/Kondapally_Girija_Exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [2]:
rect_breadth= float(input("Enter the breadth of rectangle: \n"))
rect_length= float(input("Enter the length of rectangle: \n"))
rect_area= rect_breadth*rect_length
print("The area of the rectangle is: \n",rect_area)

Enter the breadth of rectangle:
3
Enter the length of rectangle:
4
The area of the rectangle is:
 12.0

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [3]:
num_1= float(input("Enter the first number: \n"))
num_2= float(input("Enter the second number: \n"))
num_1, num_2 = num_2, num_1
print("After swapping the values of number 1 and number 2 are: \n" ,num_1,num_2)

Enter the first number:
2
Enter the second number:
5
After swapping the values of number 1 and number 2 are:
 5.0 2.0

(3) Write a Python program to calculate the length of a string.

In [5]:
string_1= input("Enter the string: \n")
print(len(string_1))

Enter the string:
Hello
5

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [6]:
sample_string= 'google.com'
cnt={}
for char in sample_string:
    if char in cnt:
        cnt[char] += 1
    else:
        cnt[char] = 1
print(dict(sorted(cnt.items(), reverse=True)))

{'o': 3, 'm': 1, 'l': 1, 'g': 2, 'e': 1, 'c': 1, '.': 1}

(5) Write a Python program to sum all the items in a list.

In [7]:
list_1= [5,6,7]
sum = 0
for i in list_1:
    sum += i
print("Sum of items in list:", sum)

Sum of items in list: 18

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [8]:
string_2 = "restart"
if string_2:
    char_1 = string_2[0]
    res = char_1 + string_2[1:].replace(char_1, '$')
    print("Result string:", res)

Result string: resta$t

(7) Create a program that calculates the factorial of a number using a while loop.

In [10]:
n1 = int(input("Enter a number: "))
if n1 < 0:
    print("Factorial is not possible if the number is negetive")
else:
  factorial = 1
  i = 1
  while i <= n1:
    factorial *= i
    i += 1
print("The factorial of given number is",factorial)

Enter a number: 4
The factorial of given number is 24

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [11]:
list_2= []
n = int(input("enter number of elements:"))
for i in range(1,n+1):
  element=int(input("enter the element "))
  list_2.append(element)
print("The input list is ",list_2)
even_numbers = []
for i in list_2:
    if int(i) % 2 == 0:
        even_numbers.append(int(i))
print("Even numbers in the list are:", even_numbers)

enter number of elements:3
enter the element 2
enter the element 1
enter the element 6
The input list is  [2, 1, 6]
Even numbers in the list are: [2, 6]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [12]:
a= float(input("enter value of a: "))
b= float(input("enter value of b: "))
S=3.14*(1+(a/b))**3
print(S)

enter value of a: 2
enter value of b: 4
10.5975

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [13]:
dict1={1:1,2:2}
dict2={3:3,4:4}
dict3={5:5,6:6}
result= {}
result.update(dict1)
result.update(dict2)
result.update(dict3)
print("Expected result: ",result)

Expected result:  {1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [15]:
tuple_1= (34,48,28,9)
largest_number=smallest_number=tuple_1[0]
for i in tuple_1:
  if i > largest_number:
    largest_number = i
  elif i < smallest_number:
    smallest_number = i
print("Largest number in tuple:", largest_number)
print("Smallest number in tuple:", smallest_number)

Largest number in tuple: 48
Smallest number in tuple: 9

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [16]:
string_1 = input("Enter a string: ")
freq = {}
for i in string_1:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1
print("frequency of character:")
for i, count in freq.items():
    print(f"'{i}': {count}")

Enter a string: Hi Hello
frequency of character:
'H': 2
'i': 1
' ': 1
'e': 1
'l': 2
'o': 1

(13) Write a Python program to check whether an element exists within a tuple.

In [19]:
tuple_1= (1,2,3,4,5,6,7)
element= int(input("Enter an element to check: "))
if element in tuple_1:
    print("tuple has element ",element)
else:
    print("tuple does not contain element ",element)

Enter an element to check: 9
tuple does not contain element  9

(14) Write a Python program to find maximum and the minimum value in a set.

In [20]:
set_1 = {1,2,3}
print("Maximum value in the set:", max(set_1))
print("Minimum value in the set:", min(set_1))

Maximum value in the set: 3
Minimum value in the set: 1

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [23]:
import random
student_list_fall_2023=['sb1826' , 'lb0582' , 'ab1820' , 'sb1883' , 'mb1296' , 'sc1622' , 'tc0469' , 'ac1770' , 'mc1453' , 'ad1187' , 'sd0926' , 'sd1268' , 'ag1609' , 'sg1638' , 'mg1299' , 'vkk0022' , 'bk0413' , 'gk0257' , 'am2807' , 'gm0558' , 'pm0658' , 'am2346' , 'rm1090' , 'sm2364' , 'sm2747' , 'sm2343' , 'vm0597' , 'htn0086' , 'sp2075' , 'gp0306' , 'lp0502' , 'sr1508' , 'vr0331' , 'yr0180' , 'as2819' , 'ss2981' , 'ns0756' , 'mt0825' , 'dt0463' , 'su0137' , 'dv0310' ]
random.shuffle(student_list_fall_2023)
groups = []
range_group_size = range(4, 7)
while len(student_list_fall_2023) >= min(range_group_size):
    size_of_group = random.choice(range_group_size)
    group = student_list_fall_2023[:size_of_group]
    groups.append(group)
    student_list_fall_2023 = student_list_fall_2023[size_of_group:]
for group_num, group in enumerate(groups, start=1):
    print(f"Group {group_num}: {group}")

Group 1: ['vkk0022', 'ns0756', 'rm1090', 'as2819', 'ac1770']
Group 2: ['ab1820', 'dt0463', 'mt0825', 'gk0257']
Group 3: ['vr0331', 'mc1453', 'lb0582', 'dv0310', 'sg1638', 'sd1268']
Group 4: ['ss2981', 'bk0413', 'tc0469', 'sm2364']
Group 5: ['sr1508', 'sb1883', 'gm0558', 'su0137', 'sp2075']
Group 6: ['htn0086', 'am2346', 'yr0180', 'vm0597']
Group 7: ['sd0926', 'gp0306', 'ag1609', 'sm2747', 'lp0502', 'ad1187']
Group 8: ['sm2343', 'mb1296', 'pm0658', 'sb1826']

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [25]:
array_1 = [1,2,3,4,5,6,4,7,2,6]
elements = set()
first_dup = -1
for i in array_1:
    if i in elements:
        dup_element = i
        break
    elements.add(i)
if dup_element != -1:
    print("First duplicate element is: ",dup_element)
else:
    print(-1)

First duplicate element is:  4

(17) Write a Python program to select all the Sundays of a specified year.

In [26]:
from datetime import date, timedelta
year= 2022
first_date=date(year, 1, 1)
day_of_week = first_date.weekday()
days_until_sunday = 6 - day_of_week
sunday = first_date + timedelta(days=days_until_sunday)
while sunday.year == year:
    print(sunday.strftime("%Y-%m-%d"))
    sunday += timedelta(days=7)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [27]:
n = int(input("Enter the number: "))
if n < 0:
    print("Factorial is not possible if the number is negitive.")
else:
    fact = 1
    for i in range(1, n+1):
      fact = fact * i
print("The factorial of given number is",fact)

Enter the number: 4
The factorial of given number is 24

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [29]:
n1 = int(input("Enter a positive integer limit: "))
if n1 <= 0:
    print("Enter positive integer.")
else:
    even_numbers_cnt = 0
    for i in range(1, n1+1):
        if i % 2 == 0:
            even_numbers_cnt += 1
        if even_numbers_cnt == n1 // 2:
            break
    print(f"Number of even numbers from 1 to {n1} is {even_numbers_cnt}")

Enter a positive integer limit: 10
Number of even numbers from 1 to 10 is 5

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [30]:
def count_vowels(string_1):
    vowels = set("aeiouAEIOU") #used set to initialize the vowels as sets are un-oredrd
    cnt_vowels = 0
    for i in string_1:
        if i.isalpha() and i in vowels:
            cnt_vowels += 1   #if the charecter is an vowel then the count is added to count_of_vowels
    return cnt_vowels
string_1 = input("Enter a string: ")#taking the input
result = count_vowels(string_1)
print("Count of vowels:", result)

Enter a string: Datascience
Count of vowels: 5